<!-- Cart Notification -->
<section>
    <div *ngIf="calculateTotalPrice()<=0" class="container ">
        <h1 class="mx-auto col-md-9 col-ld-7">Cart</h1>
        <div class="container-fluid col-md-9 col-ld-7 ">
            <div class="alert alert-danger ">
                <h5>No items in Cart. Use <a routerLink="/menu">'Add to Cart'</a> option in Menu Item List.
                    <br> 
                </h5>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="calculateTotalPrice()>0">
        <h1 class=" mx-auto col-md-9 col-ld-7">Cart</h1>
        <div class="alert alert-success col-md-9 col-ld-7 mx-auto " *ngIf="cartItemRemoved">
            <h4 class="text-success">
                Cart item deleted successfully
            </h4>
        </div>
        <ul class="list-group ">

            <li class="list-group-item d-flex justify-content-between col-md-9 col-ld-7 mx-auto"
                *ngFor="let item of cart.cartItems">
                <h4 class="my-3 text-muted">{{item.name}}</h4>
                <span class="badge text-danger">
                    <h5>{{item.price | currency:'INR'}}</h5>
                    <a routerLink="/cart" class="btn btn-default" (click)="removeCartItem(item.id)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </span>
            </li>

            <li class="list-group-item d-flex justify-content-between col-md-9 col-ld-7 mx-auto" style="color: black">
                <h4 class="my-2">Total</h4>
                <span class="badge text-danger">
                    <strong>
                        <h4 class="my-2">Rs. {{calculateTotalPrice()}}</h4>
                    </strong>
                </span>
            </li>
        </ul>
    </div>
</section>
<!-- Cart Notification End -->